*
{
    margin: 0;
    padding: 0;

} 

body{
    background-color: rgb(65, 118, 100);
    text-align: center;

}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 70vmin; 
    width:  70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;


}
.Box{
 height: 18vmin;
 width: 18vmin;
 border-radius: 20px;
 border: none;
 box-shadow: 0 0 1rem 1rgba(0,0,0,0.1);
 font-size: 7vmin;
 color:rgb(185, 67, 43);
 background-color: rgb(207, 163, 96);

}
#reset
{
    padding: 1rem;
    font-size: 1.25rem;
    color: rgb(240, 76, 31);
    background-color: rgb(1, 5, 4);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1.25rem;
}
#msg{
    color:blanchedalmond;
    font-size: 7vmin;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    color: rgb(240, 76, 31);
    background-color: rgb(1, 5, 4);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1.25rem;
    
}
.msg-container{
    height: 25vmin;
}

.hide{
    display: none;
}